body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', 'San Francisco', -apple-system, BlinkMacSystemFont,
    '.SFNSText-Regular', 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
}

h1 {
  font-size: 40px;
  color: #00676d;
}

h2 {
  font-size: 40px;
  color: #00676d;
}

h3 {
  margin-top: 32px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

h4 {
  margin-top: 24px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;
  color: #6cc6b9;
}

h4 strong {
  color: #00676d;
}

.fixedHeaderContainer {
  background-color: white;
  padding: 16px 0;
}

.fixedHeaderContainer header img {
  height: 60%;
}

.navigationSlider .slidingNav ul li a {
  color: #303030;
  font-weight: 400;
}

.navigationSlider .slidingNav ul {
  background-color: white;
}

.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  background-color: inherit;
  color: #17b582 !important;
}

.navigationSlider .slidingNav ul li a:hover {
  background-color: inherit;
  color: #00676d;
}

.navigationSlider .slidingNav ul li {
  padding: 0 16px;
}

.imageAlignSide {
  align-items: center;
  flex-flow: row;
}

.imageAlignSide .blockImage {
  align-items: center;
}

.imageAlignSide .blockContent > :first-child {
  margin-top: 0;
}

.imageAlignSide .blockContent > :last-child {
  margin-bottom: 0;
}

.imageAlignRight .blockImage {
  text-align: right;
}

.gridBlock {
  justify-content: space-around;
}

.gridBlock .twoByGridBlock img {
  padding: 15%;
  padding-right: 0;
  max-width: 70%;
}

.logoReplace {
  text-indent: -99999999px;
  background-image: url('../img/brand/wordmark.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}

.splash {
  min-height: 60vh;
}

.waveOne {
  background-image: url('../img/bg.wave.1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-bottom: 9%;
}

.waveTwo {
  padding-top: 5%;
  padding-bottom: 5%;
  background: rgb(226, 244, 241);
  background: linear-gradient(
    180deg,
    rgba(226, 244, 241, 1) 0%,
    rgba(226, 244, 241, 1) 50%,
    rgba(156, 215, 209, 0.4) 100%
  );
}

.waveThree {
  padding-top: 10%;
  padding-bottom: 5%;
  background: rgb(226, 244, 241);
  background: url('../img/bg.wave.3.png') no-repeat center top,
    linear-gradient(
      180deg,
      rgba(156, 215, 209, 0.4) 0%,
      rgba(255, 255, 255) 100%
    );
  background-size: 100% 100%;
}

.spacingL {
  padding-top: 8% !important;
  padding-bottom: 8% !important;
}

.spacingM {
  padding-top: 4% !important;
  padding-bottom: 4% !important;
}

.spacingS {
  padding-top: 2% !important;
  padding-bottom: 2% !important;
}

.feature {
  padding-top: 8% !important;
  padding-bottom: 8% !important;
}

.feature img {
  max-height: 50vh;
}

.card {
  background: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.22),
    0 14px 28px 0 rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  padding: 64px;
}

.card > :last-child {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
