/* body {
  background: radial-gradient(
      82.68% 82.68% at 50% 17.32%,
      rgba(0, 182, 192, 0.3) 0%,
      rgba(0, 103, 109, 0) 77.11%
    ),
    linear-gradient(180deg, #303036 0%, #000000 100%);
} */

/* .appIcon {
  background: rgba(255, 0, 0, 1),
    linear-gradient(135deg, #ffffff 0%, rgba(255, 255, 255, 0) 71.14%);
  height: 100px;
  width: 100px;
}

.appIcon__background {
  background: rgba(255, 0, 0, 0.3);
} */

.pipeline-wrapper {
  background: url('../images/Frame.png'), #ffffff;
  background-size: 32px;
}

.pipeline {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.95) 100%
  );
}

.pipeline-green-background {
  background: radial-gradient(
      187.59% 91.15% at 24.88% 84.84%,
      rgba(0, 182, 192, 0.36) 0%,
      rgba(0, 103, 109, 0.25) 100%
    ),
    linear-gradient(180deg, #303036 0%, #000000 100%);
}

.blueprint-icon-bg {
  background: linear-gradient(
      0deg,
      rgba(224, 238, 236, 0.9),
      rgba(224, 238, 236, 0.9)
    ),
    linear-gradient(135deg, #6ec5b8 0%, #17b582 100%);
}

.brand-text {
  color: rgba(23, 181, 130, 1);
}

.footer {
  background: linear-gradient(180deg, #303036 0%, #1c1c1f 100%), #1f2937;
  color: rgba(244, 247, 248, 0.6);
  font-size: 1.125rem;
}

.footer-button {
  color: #17b582;
}
